<main>
  <h1>About</h1>
  <div class="skills-p"> <h2>Skills:</h2>
    <br>Programming languages, software tools, technologies:
    <br>HTML, CSS,
    <br>Ruby on Rails,
    <br>PHP, Yii 2, OpenCart,
    <br>MySQL, PostgreSQL
    <br>JavaScript, jQuery, DOM,
    <br>C#, Unity,
    <br>Linux,
    <br>Apache 2, AJAX,
    <br>OOD, REST API, Docker, RabbitMQ, Git,
    <br>Java - basic level,
    <br>Good learning.
  </div>
</main>
