<main>
  <h1>Contact</h1>
  <div class="contact-p"> <h2>Contact:</h2>
    <br><h4>E-Mail:</h4> <h5>korobko.dmitry@gmail.com</h5>
    <br><h4>Phone number:</h4> <h5>+380956609627</h5>
    <br><h4>LinkedIn:</h4><%= link_to "Go to LinkedIn profile", "https://www.linkedin.com/in/korobko-dmitry/" %>
    <br><h4>Facebook:</h4><%= link_to "Go to Facebook profile", "https://www.facebook.com/Steinmann89" %>
    <br><h4>GitHub:</h4><%= link_to "Go to GitHub profile", "https://github.com/DmitryKorobko?tab=repositories" %>
  </div>
</main>
