<main>
  <h1>PORTFOLIO</h1>
  <div class="images-block">
    <%= image_tag "screen_1.png", :class => "portfolio-image" %>
    <%= image_tag "screen_2.png", :class => "portfolio-image" %>
    <%= image_tag "screen_3.png", :class => "portfolio-image" %>
  </div>
</main>
