git<main>
  <div class="skills-block">
    <h3>Skills</h3>
    <ul>
      <li><p>HTML</p></li>
      <li><p>CSS</p></li>
      <li><p>RUBY</p></li>
      <li><p>RUBY ON RAILS</p></li>
      <li><p>MYSQL</p></li>
    </ul>
  </div>
  <button class="view-button" type="button">View my Code</button>
</main>
